/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2017, 12:54:28 PM
    Author     : tvivaram
*/

/** Begin Header **/

header {
    background-color: #F8F8F8;
    padding: 1.4rem 0;
}

header a, header li {
    color: #777;
    font-weight: bold;
}

/**End Header**/

/**Begin Body**/

.mov-classif-heading{
    width : 13em;
    border-bottom: solid #5A5A5A;  
    margin: 2em;
}

.mov-title-disp{
    background-color: black;
    color : white;
    margin : 1em 0.5em;
    padding-left: 1em;
}

.padded ul li {
  float: left; 
  list-style: none;
  width : 7em;
  font-size: 45%;
  }
  
.padded ul li a {
  display: block;
  padding: 0.5em;
  background: #6788a7;
  color: #fff;
  text-decoration: none;
}

.padded ul li.active a {
  background: #58c7d0 ;
}

.mov-time-display{
    margin-left: 40px;
}

@media (min-width: 992px) {
    
    .mov-title-disp{
        margin : 1em 0px;
    }
    
    .padded ul li {
      font-size: 120%;
    }
}

/**Begin For Seat Selection Screen**/

.seatselscreen {
    border: 5px solid #d5dded;
    padding: 5px;
    background: rgb(195, 207, 229);
    outline: 5px solid #b5bac9;
    box-shadow:
        0 0 0 10px hsl(0, 0%, 80%),
        0 0 0 15px hsl(0, 0%, 90%);
    text-align: center;
    color : black;
    margin-left : 6em;
    width : 600px;
}

.seat {
    float: left;
    display: block;
    margin: 3px;
    background: lightsteelblue;
    width: 23px;
    height: 20px;
}

.selected
{
    background: #8e4643;
}

.seat-select-color
{
   background: #aeb77e; 
}

.seatclassif {
    background: none;
}

.seat-select {
    display: none;
}

.seat-select-no-disp
{
    background: white;
}

.seat-select:checked+.seat {
    background: #aeb77e;
}

.showselected{
    background-color: #505c70;
    margin : 1em;
    padding : 1em;
    color: white;
}

.showselected label {
       color: white;
       font-weight: normal;
}

.showselected li {
       color: white;
}

#seats{
    width: 1200px;
    margin-left: 2em;
}

.seatboxlegend{
    width:15px; height:15px;
}
/**End For Seat Selection Screen**/

/**Begin Payment Screen**/

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/**End Payment Screen**/

/**End Body**/

/**Begin Footer**/
footer {
    background-color: #191919;
    color: #ADADAD;
    margin-top: 3em;
}

footer h5, footer img {
    margin-top: 5em;
    font-weight: bold;
}

footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #5A5A5A;
}

footer ul {
    margin-bottom: 5em;
}

footer address strong {
    color: #ADADAD;
    display: block;
    padding-bottom: 0.62em;
}

footer a {
    font-weight: 300;
    color: #5A5A5A;
}

footer a:hover {
    text-decoration: none;
    color: #FFF;
}
/**End Footer**/