/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2017, 12:54:28 PM
    Author     : tvivaram
*/

/** Begin Header **/

header {
    background-color: #F8F8F8;
    padding: 1.4rem 0;
}

header a, header li {
    color: #777;
    font-weight: bold;
}

/**End Header**/

/**Begin Body**/

.mov-classif-heading{
    width : 13em;
    border-bottom: solid #5A5A5A;  
    margin: 2em;
}

.mov-title-disp{
    background-color: black;
    color : white;
    margin : 1em 0px;
    padding-left: 1em;
}

.padded ul li {
  float: left; 
  list-style: none;
  width : 7em;
  font-size: 45%;
  }
  
.padded ul li a {
  display: block;
  padding: 0.5em;
  background: #6788a7;
  color: #fff;
  text-decoration: none;
}

.padded ul li.active a {
  background: #58c7d0 ;
}

.mov-time-display{
    margin-left: 40px;
}

@media (min-width: 992px) {  
    .padded ul li {
      font-size: 120%;
    }
}


/**End Body**/

/**Begin Footer**/
footer {
    background-color: #191919;
    color: #ADADAD;
    margin-top: 3em;
}

footer h5, footer img {
    margin-top: 5em;
    font-weight: bold;
}

footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #5A5A5A;
}

footer ul {
    margin-bottom: 5em;
}

footer address strong {
    color: #ADADAD;
    display: block;
    padding-bottom: 0.62em;
}

footer a {
    font-weight: 300;
    color: #5A5A5A;
}

footer a:hover {
    text-decoration: none;
    color: #FFF;
}
/**End Footer**/